.container-icons{
  background: radial-gradient(50% 50% at 50% 50%, #122F7A 0%, #0E0A42 100%);
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  
  

 
}


.icon{
  width: 140px;
  margin-top: 200px;
  margin: 50px;
  flex-wrap: wrap;
  
  
}
